[Desktop Entry]
Name=Game 896803609696677898
Exec=e %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-896803609696677898;
